{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<body id="bg" class="tdStylemain">





<br> <br><br><br><br><br><br><br><br><br>
<form action="http://127.0.0.1:8000/team/blue/">
    <input class="button button2" type="submit" value="Blue Team" >
</form>

<form action="">
    <input type="submit" value="Red Team" class="button buttonred">
</form>

<form action="http://127.0.0.1:8000/">
    <input type="submit" value="Back" class="button buttongrey">
</form>